# Node.js
node_modules/
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# IDEs and other tools
.vscode/
.idea/
.DS_Store

# Build artifacts
build/
dist/

# Frontend specific
frontend/build/
frontend/node_modules/

# Backend specific
backend/node_modules/
